#wrapper {
    max-width: 1200px;
    
}

header{
    padding:2em;
   /* background-color: rgb(247, 228, 245,); */
   /* background-image: url("images/greysanatomy.jpg");
    background-repeat: no-repeat;
    background-position: top right; */
    background:
    linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 98%) ,url("images/greysanatomy.jpg") no-repeat top right/60%, #000;
}

.lead{
   width: 40%;
   color: #fff;

}
h1 img{
    width: 300px;
}
.button{ 
    display:block;
    width:3em;
    text-align: center;
    background-color: red;
    padding: 6px;
    border-radius: 10px;
    color:#fff;
    text-decoration:none;
}

/* Navigation Bar */

nav li{
    display:inline;
    margin-right: 2em;
    border-right: solid 1px #fff;
    padding-right: 2em;
  
}

nav a{
    color:#fff;
    text-decoration: none;
}

nav{
    background-color: rgb(32, 32, 32);
    padding: 0.1em 0; /* first value for top & bottom second value for left & right */
}
col{
    float: left;
}