#wrapper {
    max-width: 1200px;
    
}

header{
    padding:2em;
   /* background-color: rgb(247, 228, 245,); */
   /* background-image: url("images/greysanatomy.jpg");
    background-repeat: no-repeat;
    background-position: top right; */
    background:
    linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,0) 4%) ,url("images/greysanatomy.jpg") no-repeat top right, #000;
}

.lead{
   width: 33%;
   color: #fff;

}